body {
    background-color: #f8f9fa;
}

br {

    display: inline;

    line-height: 11px;

}

.login-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 0.25rem;
    padding: 1.5rem;
    background-color: #e0f2fd;
    width: 100%; /* Add this line to expand the card width */
    max-width: 500px; /* Change this value to your desired width */
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-control {
    max-width: 500px;
}

.form-group-custom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.form-group-custom .form-label {
    margin-right: 1rem;
}

.form-group-custom .form-control {
    width: 100%;
    max-width: 200px;

}

.container {
    max-width: 800px;
}